* {
  border: 0.3px dashed lightblue;

}

html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin: 0;
  padding: 0;
}

.logo {
  padding-left: 10px;
}

.nav-bar a {
  text-decoration: underline;
  color: seashell;
  padding: 0 10px;
}

main {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
}

.mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-text {
  width: 1200px;
  height: auto;
  background-color: black;
  align-content: center;
}
.mission-text h2{
  margin-top: 5px;
  }

.mission-text h4 {
  margin-bottom: 5px;
}

.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.tea-pictures {
  width: 1000px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tea-pictures h4 {
  margin-top: 10px;
}

.locations {
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.locations-headline {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.locations-container {
  display: inline-flex;
}

.locations-downtown, .locations-bayside, .locations-oakdale {
  width: 300px;
  background-color: black;
  opacity: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.company-name {
  height: 200px;
  margin-top: 0;
}

.copyright {
  align-self: flex-start;
  margin-left: 20px;
}
